<nav class="hero-nav position-relative container mx-auto px-0">
        <ul class="nav w-100 list-unstyled align-items-center p-0">
          <li class="hero-nav__item">
            <a class="gh-head-logo{{#unless @site.logo}} no-image{{/unless}}" href="{{@site.url}}">
            {{#if @site.logo}}
            <img class="hero-nav__logo" src="{{@site.logo}}" change-src-onscroll="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                {{@site.title}}
            {{/if}}
            </a><!-- Don't remove this empty span --><span class="mx-2"></span></li>        
          <li id="hero-menu" class="flex-grow-1 hero__nav-list hero__nav-list--mobile-menu ft-menu">
            <ul class="hero__menu-content nav flex-column flex-lg-row ft-menu__slider animated list-unstyled p-2 p-lg-0">
              <li class="flex-grow-1">
                <ul class="nav nav--lg-side flex-column-reverse flex-lg-row-reverse list-unstyled align-items-center p-0">
                  <li class="flex-grow-1">
                    <ul class="nav nav--lg-side flex-column-reverse flex-lg-row-reverse list-unstyled align-items-center p-0">
                      <li class="hero-nav__item"><a href="https://twitter.com/intent/tweet?text=30%2B%20HTML%20BLOCKS%20TO%20BUILD%20OUTSTANDING%20LANDING%20PAGES&amp;url=https%3A%2F%2Ffrontendor.com%2F" target="_blank" class="btn btn-primary">Try For Free</a></li>
                    </ul>
                  </li>
                  {{#foreach navigation}}
                  <li class="hero-nav__item nav-{{slug}}{{#if current}} nav-current{{/if}}">
                  <a href="{{url absolute="true"}}" class="hero-nav__link">{{label}}</a>
                  </li>
                  {{/foreach}}                  
                </ul>
              </li>
            </ul><button close-nav-menu="" class="ft-menu__close-btn animated"><svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"></path>
              </svg></button>
          </li>
          <li class="hero-nav__item d-lg-none d-flex flex-row-reverse"><button open-nav-menu="" class="text-center px-2"><i class="fas fa-bars"></i></button></li>
        </ul>
      </nav>