{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="block-5 space-between-blocks">
  <div class="container">
    <div class="col-lg-9 col-xl-9 col-xxl-9 mx-auto text-center mb-5">
      <p class="block__paragraph--big">HanaCare mong muốn mang đến cho mọi người một trải nghiệm tốt nhất để trả lời lý do</p>
      <h1 class="block__title--big mb-3">Tại sao nên sử dụng HanaCare </h1>
    </div>
    <div class="row align-items-center flex-column-reverse flex-lg-row px-2 mx-auto" id="block__container">
      <!-- LEFT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div><span class="fr-icon fr-icon--medium mx-auto"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-alarm" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"></path>
              </svg></span></div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Modern, intuitive design</h3>
            <p class="card-2__paragraph">We have high expectations for the software we use, and we know you do too.</p>
          </div>
        </div>
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div><span class="fr-icon fr-icon--medium mx-auto"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-app-indicator" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
              </svg></span></div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Analytics &amp; insights</h3>
            <p class="card-2__paragraph">Get insights into your course and how your learners perform. We offer extensive insights and analytics tools.</p>
          </div>
        </div>
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div><span class="fr-icon fr-icon--medium mx-auto"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-app-indicator" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
              </svg></span></div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">In-app video recordings</h3>
            <p class="card-2__paragraph">Let your learners record webcam and screen recordings directly from the app.</p>
          </div>
        </div>
      </div><!-- IMAGE -->
      <div class="col-lg-4 my-5 text-center"><img src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/feature-03@2x.png" class="w-100"></div><!-- RIGHT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex">
          <div><span class="fr-icon fr-icon--medium mx-auto"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-archive" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"></path>
              </svg></span></div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Just-in-time notifications</h3>
            <p class="card-2__paragraph">With our advanced notification system users receive reminders either in-app, or via email.</p>
          </div>
        </div>
        <div class="card-2 d-flex">
          <div><span class="fr-icon fr-icon--medium mx-auto"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"></path>
                <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
              </svg></span></div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Prerequisites &amp; deadlines</h3>
            <p class="card-2__paragraph">Set up prerequistes and deadlines for your content to scaffold your learning experience.</p>
          </div>
        </div>
        <div class="card-2 d-flex">
          <div><span class="fr-icon fr-icon--medium mx-auto"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"></path>
              </svg></span></div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Easily invite students</h3>
            <p class="card-2__paragraph">Add students to your course by sharing a link, sending email invites, or sharing a course code.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-35 space-between-blocks">
  <div class="container col-xxl-10 px-xxl-5">
    <!-- HEADER -->
    <div class="col-lg-8 mx-auto text-center mb-5">
      <h1 class="block__title--big mb-3">HanaCare qua các con số</h1>
      <p class="block__paragraph--big mb-0 mx-3">Với mục đích mang lại những giá trị sức khỏe và tinh thần tốt nhất cho mọi người, HanaCare được sự ủng hộ qua các con số</p>
    </div>
    <ul class="stats row list-unstyled text-center p-0">
      <li class="stats__li col-sm-6 col-lg-3 p-0"><span class="stats__number">234</span>
        <p class="stats__text">Thành viên tham gia</p>
      </li>
      <li class="stats__li col-sm-6 col-lg-3 p-0"><span class="stats__number">87+</span>
        <p class="stats__text">Dịch vụ cung cấp</p>
      </li>
      <li class="stats__li col-sm-6 col-lg-3 p-0"><span class="stats__number">200K</span>
        <p class="stats__text">Số tiền thành viên</p>
      </li>
      <li class="stats__li col-sm-6 col-lg-3 p-0"><span class="stats__number">126+</span>
        <p class="stats__text">Dự án cộng đồng</p>
      </li>
    </ul>
  </div>
</div>
<!--Popper.js first, then Bootstrap JS -->
<script>
  function submitForm(t) {
    t.preventDefault();
    var n = t.target.querySelector("button");
    if (n.classList.contains("btn--loading")) return !1;
    n.classList.add("btn--loading");
    try {
      setTimeout(function() {
        n.classList.remove("btn--loading")
      }, 2e3)
    } catch (t) {
      console.log(t), n.classList.remove("btn--loading")
    }
  }
</script>


<!-- frontendor Slider  -->
<div id="use-unique-id-for-this" data-blur-increase="7" data-opacity-decrease="0" data-scale-decrease="0.07" data-large-screen-slider-timeout="[3000,5000,5000,5000]" class="frontendor-slider-block position-relative">
  <ul class="slider-menu">
    <li class="slider-menu__item">Tập luyện</li>
    <li class="slider-menu__item">Dinh dưỡng</li>
    <li class="slider-menu__item">Tinh thần</li>
    <li class="slider-menu__item">Giải trí</li>
  </ul>
  <div class="frontendor-slider-container">
    <div class="frontendor-slider">
      <div class="frontendor-slider__slide frontendor-slider__slide--active"><img class="frontendor-slider__slide-img" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/1.webp" alt="Add Survey Questions In frontendor"></div>
      <div class="frontendor-slider__slide"><img class="frontendor-slider__slide-img" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/3.webp" alt="Save and Preview Surveys In frontendor"></div>
      <div class="frontendor-slider__slide"><img class="frontendor-slider__slide-img" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/2.webp" alt="Customize and Share Surveys In frontendor"></div>
      <div class="frontendor-slider__slide"><img class="frontendor-slider__slide-img" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/4.webp" alt="Get Surveys Responses In frontendor"></div>
    </div>
  </div>
</div>
<script>
  (window.frontendorSliderElement = document.querySelector(
    "#use-unique-id-for-this"
  )),
  (window.FrontendorSlider = {
    element: window.frontendorSliderElement.querySelector(
      ".frontendor-slider"
    ),
    start: function() {
      FrontendorSlider.setActiveSlide(
          FrontendorSlider.element.querySelector(
            ".frontendor-slider__slide--active"
          )
        ),
        FrontendorSlider.setup(),
        FrontendorSlider.element.addEventListener(
          "click",
          FrontendorSlider.handleFrontendorSlidesClick
        );
    },
    handleFrontendorSlidesClick: function(e) {
      if (e.pageX >= window.innerWidth / 2) {
        FrontendorSlider.next();
        var r = FrontendorSlider.element.querySelectorAll(
            ".frontendor-slider__slide"
          ),
          t = [].indexOf.call(
            r,
            window.frontendorSliderElement.querySelector(
              ".frontendor-slider__slide--active"
            )
          );
        FrontendorSlider.fireChangeEvent(t);
      } else {
        FrontendorSlider.previous();
        (r = FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        )),
        (t = [].indexOf.call(
          r,
          window.frontendorSliderElement.querySelector(
            ".frontendor-slider__slide--active"
          )
        ));
        FrontendorSlider.fireChangeEvent(t);
      }
    },
    goTo: function(e) {
      e -= 1;
      var r = FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ),
        t = [].indexOf.call(
          r,
          window.frontendorSliderElement.querySelector(
            ".frontendor-slider__slide--active"
          )
        );
      if (t < e)
        for (let r = t; r < e; r++) FrontendorSlider.next();
      else if (t > e)
        for (let r = t; r > e; r--) FrontendorSlider.previous();
    },
    setup: function() {
      var e = FrontendorSlider.element.querySelectorAll(
        ".frontendor-slider__slide"
      );
      for (let r = 0; r < e.length; r++) {
        const t = e[r];
        0 !== r ?
          FrontendorSlider.setRightSlideCSS(t, r) :
          FrontendorSlider.setActiveSlide(t);
      }
    },
    ajustAllRightSlides: function(e) {
      var r = FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ),
        t = 1;
      for (let n = e; n < r.length; n++) {
        const e = r[n];
        FrontendorSlider.setRightSlideCSS(e, t), t++;
      }
    },
    ajustAllLeftSlides: function(e) {
      var r = FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ),
        t = 1;
      for (let n = e; n >= 0; n--) {
        const e = r[n];
        FrontendorSlider.setLeftSlideCSS(e, t), t++;
      }
    },
    setActiveSlide: function(e) {
      e.style.setProperty("--transform", "scale(1) translateX(0px)"),
        e.style.setProperty("--opacity", 1),
        e.style.setProperty("--z-index", 20),
        e.style.setProperty("--filter", "blur(0px)");
    },
    setLeftSlideCSS: function(e, r) {
      var t = window
        .getComputedStyle(FrontendorSlider.element)
        .getPropertyValue("--image-space"),
        n =
        (frontendorSliderElement &&
          parseFloat(
            window.frontendorSliderElement.getAttribute(
              "data-scale-decrease"
            )
          )) ||
        0.07,
        o =
        (frontendorSliderElement &&
          parseFloat(
            window.frontendorSliderElement.getAttribute(
              "data-opacity-decrease"
            )
          )) ||
        0,
        l =
        (frontendorSliderElement &&
          parseFloat(
            window.frontendorSliderElement.getAttribute(
              "data-blur-increase"
            )
          )) ||
        7,
        i = r,
        d = 1 - n * i,
        s = t * i,
        a =
        FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ).length - i,
        u = 1 - o * i,
        c = l * i;
      e.setAttribute("data-translate-x", s),
        e.style.setProperty(
          "--transform",
          "scale(" + d + ") translateX(-" + s + "px)"
        ),
        e.style.setProperty("--z-index", a),
        e.style.setProperty("--opacity", u),
        e.style.setProperty("--filter", "blur(" + c + "px)");
    },
    setRightSlideCSS: function(e, r) {
      var t = window
        .getComputedStyle(FrontendorSlider.element)
        .getPropertyValue("--image-space"),
        n =
        (frontendorSliderElement &&
          parseFloat(
            window.frontendorSliderElement.getAttribute(
              "data-scale-decrease"
            )
          )) ||
        0.07,
        o =
        (frontendorSliderElement &&
          parseFloat(
            window.frontendorSliderElement.getAttribute(
              "data-opacity-decrease"
            )
          )) ||
        0,
        l =
        (frontendorSliderElement &&
          parseFloat(
            window.frontendorSliderElement.getAttribute(
              "data-blur-increase"
            )
          )) ||
        7,
        i = r,
        d = 1 - n * i,
        s = t * i,
        a =
        FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ).length - i,
        u = 1 - o * i,
        c = l * i;
      e.setAttribute("data-translate-x", s),
        e.style.setProperty(
          "--transform",
          "scale(" + d + ") translateX(" + s + "px)"
        ),
        e.style.setProperty("--z-index", a),
        e.style.setProperty("--opacity", u),
        e.style.setProperty("--filter", "blur(" + c + "px)");
    },
    handleSliderNotActiveAnimation: function(e) {
      e.target.classList.remove("frontendor-slider__slide--not-active"),
        e.target.removeEventListener(
          "animationend",
          FrontendorSlider.handleSliderNotActiveAnimation
        );
    },
    next: function() {
      var e = FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ),
        r = FrontendorSlider.element.querySelector(
          ".frontendor-slider__slide--active"
        ),
        t = [].indexOf.call(e, r);
      if (t >= e.length - 1) return FrontendorSlider.reset();
      r.addEventListener(
          "animationend",
          FrontendorSlider.handleSliderNotActiveAnimation
        ),
        r.classList.replace(
          "frontendor-slider__slide--active",
          "frontendor-slider__slide--not-active"
        ),
        e[++t].classList.add("frontendor-slider__slide--active"),
        FrontendorSlider.setActiveSlide(e[t]),
        FrontendorSlider.ajustAllRightSlides(t + 1),
        FrontendorSlider.ajustAllLeftSlides(t - 1);
    },
    previous: function() {
      var e = FrontendorSlider.element.querySelectorAll(
          ".frontendor-slider__slide"
        ),
        r = FrontendorSlider.element.querySelector(
          ".frontendor-slider__slide--active"
        ),
        t = [].indexOf.call(e, r);
      0 !== t &&
        (r.addEventListener(
            "animationend",
            FrontendorSlider.handleSliderNotActiveAnimation
          ),
          r.classList.replace(
            "frontendor-slider__slide--active",
            "frontendor-slider__slide--not-active"
          ),
          e[--t].classList.add("frontendor-slider__slide--active"),
          FrontendorSlider.setActiveSlide(e[t]),
          FrontendorSlider.ajustAllLeftSlides(t - 1),
          FrontendorSlider.ajustAllRightSlides(t + 1));
    },
    reset: function() {
      var e = FrontendorSlider.element.querySelectorAll(
        ".frontendor-slider__slide"
      );
      for (let r = 0; r < e.length; r++) FrontendorSlider.previous();
    },
    fireChangeEvent(e) {
      var r = new CustomEvent("frontendor-slide-change", {
        detail: {
          slideNumber: e + 1
        },
      });
      window.dispatchEvent(r);
    },
  }),
  (window.FrontendorMenu = {
    element: window.frontendorSliderElement.querySelector(".slider-menu"),
    currentIntervalTime: null,
    defaultIntervalTime: (frontendorSliderElement &&
        parseFloat(
          window.frontendorSliderElement.getAttribute(
            "data-default-slider-timeout"
          )
        )) ||
      3e3,
    intervalTimeForLargeScreen: (frontendorSliderElement &&
      JSON.parse(
        window.frontendorSliderElement.getAttribute(
          "data-large-screen-slider-timeout"
        )
      )) || [],
    intervalTimeForSmallScreen: (frontendorSliderElement &&
      JSON.parse(
        window.frontendorSliderElement.getAttribute(
          "data-large-screen-slider-timeout"
        )
      )) || [],
    timeout: null,
    intervalTime: [],
    start: function() {
      window.matchMedia("(min-width: 768px)").matches ?
        (options = FrontendorMenu.intervalTimeForLargeScreen) :
        (options = FrontendorMenu.intervalTimeForSmallScreen),
        (FrontendorMenu.intervalTime = options),
        FrontendorMenu.element.addEventListener(
          "click",
          FrontendorMenu.handleMenuClick
        ),
        FrontendorMenu.element
        .querySelectorAll(".slider-menu__item")[0]
        .classList.add("slider-menu__item--active"),
        (FrontendorMenu.currentIntervalTime =
          FrontendorMenu.intervalTime[0] ||
          FrontendorMenu.defaultIntervalTime),
        FrontendorMenu.element.style.setProperty(
          "--slider-menu-item-transition",
          FrontendorMenu.currentIntervalTime + "ms"
        ),
        (FrontendorMenu.timeout = setTimeout(function() {
          window.FrontendorSlider.goTo(2), FrontendorMenu.gotTo(2);
        }, FrontendorMenu.currentIntervalTime));
    },
    handleMenuClick: function(e) {
      var r = e.target.closest(".slider-menu__item");
      FrontendorMenu.gotTo(r);
    },
    gotTo(e) {
      var r = FrontendorMenu.element.querySelectorAll(".slider-menu__item");
      "number" == typeof e && (e = r[e - 1]),
        FrontendorMenu.timeout && clearTimeout(FrontendorMenu.timeout);
      var t = null;
      if (e) {
        FrontendorMenu.element
          .querySelectorAll(".slider-menu__item")
          .forEach(function(e) {
            e.classList.remove("slider-menu__item--active");
          }),
          e.classList.add("slider-menu__item--active");
        var n = [].indexOf.call(r, e);
        window.FrontendorSlider.goTo(n + 1), (t = n + 1);
      } else {
        var o = FrontendorMenu.element.querySelector(
            ".slider-menu__item--active"
          ),
          l = [].indexOf.call(r, o),
          i = r[l + 1];
        (t = l + 1),
        i || ((i = r[0]), (t = 0)),
          FrontendorMenu.element
          .querySelectorAll(".slider-menu__item")
          .forEach(function(e) {
            e.classList.remove("slider-menu__item--active");
          }),
          i.classList.add("slider-menu__item--active");
      }
      (FrontendorMenu.currentIntervalTime =
        FrontendorMenu.intervalTime[t - 1] ||
        FrontendorMenu.intervalTime[0] ||
        FrontendorMenu.defaultIntervalTime),
      FrontendorMenu.element.style.setProperty(
          "--slider-menu-item-transition",
          FrontendorMenu.currentIntervalTime + "ms"
        ),
        (FrontendorMenu.timeout = setTimeout(function() {
          window.FrontendorSlider.goTo(t + 1), FrontendorMenu.gotTo(t + 1);
        }, FrontendorMenu.currentIntervalTime));
    },
  }),
  window.addEventListener("frontendor-slide-change", function(e) {
      FrontendorMenu.element
        .querySelectorAll(".slider-menu__item")[e.detail.slideNumber - 1].click();
    }),
    FrontendorSlider.start(),
    FrontendorMenu.start();
</script>


<div class="block-46 space-between-blocks col-xxl-10 px-xxl-4 mx-auto">
  <div class="container">
    <!-- HEADER -->
    <div class="col-lg-9 mx-auto text-center mb-5 position-relative">
      <h1 class="block__title--big mx-md-3 mx-4">Thông tin dành cho bạn</h1><svg class="block__title-svg" viewBox="0 0 36 36">
        <path fill="#FFAC33" d="M34.347 16.893l-8.899-3.294-3.323-10.891c-.128-.42-.517-.708-.956-.708-.439 0-.828.288-.956.708l-3.322 10.891-8.9 3.294c-.393.146-.653.519-.653.938 0 .418.26.793.653.938l8.895 3.293 3.324 11.223c.126.424.516.715.959.715.442 0 .833-.291.959-.716l3.324-11.223 8.896-3.293c.391-.144.652-.518.652-.937 0-.418-.261-.792-.653-.938z"></path>
        <path fill="#FFCC4D" d="M14.347 27.894l-2.314-.856-.9-3.3c-.118-.436-.513-.738-.964-.738-.451 0-.846.302-.965.737l-.9 3.3-2.313.856c-.393.145-.653.52-.653.938 0 .418.26.793.653.938l2.301.853.907 3.622c.112.444.511.756.97.756.459 0 .858-.312.97-.757l.907-3.622 2.301-.853c.393-.144.653-.519.653-.937 0-.418-.26-.793-.653-.937zM10.009 6.231l-2.364-.875-.876-2.365c-.145-.393-.519-.653-.938-.653-.418 0-.792.26-.938.653l-.875 2.365-2.365.875c-.393.146-.653.52-.653.938 0 .418.26.793.653.938l2.365.875.875 2.365c.146.393.52.653.938.653.418 0 .792-.26.938-.653l.875-2.365 2.365-.875c.393-.146.653-.52.653-.938 0-.418-.26-.792-.653-.938z"></path>
      </svg>
    </div>
    <div class="row px-2 position-relative">
        {{#foreach posts}}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="post">
          <div class="post__img-container pb-1">
            <img class="post-card-image post__img"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 800px"
            src="{{img_url feature_image size="m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            loading="lazy"
        />            </div>
          <div class="px-4 mt-4 text-center">
            <a href="{{url}}"><h3 class="post__title mb-3">{{title}}</h3></a>
            <p class="post__info">
                <span class="post__author">{{authors}}</span>
                            {{#if reading_time}}
                <span class="post__time">{{reading_time}}</span>
            {{/if}}
            </p>
          </div>
        </div>
      </div>
        {{/foreach}}
      <div class="block-46__svg-dots"><svg class="block-46__dots-svg--left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <pattern id="pattern" width="19" height="19" viewBox="0 0 40 40" patternUnits="userSpaceOnUse" patternTransform="rotate(90)">
              <rect id="pattern-background" x="0" y="0" width="400%" height="400%" fill="transparent"></rect>
              <circle cx="20" cy="20" r="5" fill="currentColor" stroke="currentColor" stroke-width="0"></circle>
              <circle cx="20" cy="20" r="0" fill="currentColor" stroke="currentColor" stroke-width="0"></circle>
            </pattern>
          </defs>
          <rect fill="url(#pattern)" height="100%" width="100%" y="0" x="0"></rect>
        </svg><svg class="block-46__dots-svg--right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <pattern id="pattern" width="19" height="19" viewBox="0 0 40 40" patternUnits="userSpaceOnUse" patternTransform="rotate(90)">
              <rect id="pattern-background" x="0" y="0" width="400%" height="400%" fill="transparent"></rect>
              <circle cx="20" cy="20" r="5" fill="currentColor" stroke="currentColor" stroke-width="0"></circle>
              <circle cx="20" cy="20" r="0" fill="currentColor" stroke="currentColor" stroke-width="0"></circle>
            </pattern>
          </defs>
          <rect fill="url(#pattern)" height="100%" width="100%" y="0" x="0"></rect>
        </svg></div>
    </div>
  </div>
</div>

<div class="block-24 space-between-blocks">
  <div class="container px-xxl-5">
    <div class="block__header col-lg-9 mx-auto text-center px-0 mb-0">
      <h1 class="block__title mb-3">Nhà tài trợ và đầu tư</h1>
    </div>
    <div class="row justify-content-center align-items-center"><img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand1.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand2.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand3.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand4.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand5.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand6.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand7.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand8.svg"> <img class="block-24__logo col-lg-5 mt-5 px-5" src="https://app.frontendor.com/version3/assets/ui-library/Blocks/blocks__assets/images/brand9.svg"></div>
  </div>
</div>


